<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Park Finders</title>
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" href="./css/results.css">
  <link rel="stylesheet" href="./css/nav.css">
  <link rel="stylesheet" href="./css/filter.css">
  <link rel="stylesheet" href="./css/login.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel='icon' href='./assets/favicon.png' type='image/x-icon' />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Seaweed+Script&display=swap"
    rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b84a96a550.js" crossorigin="anonymous"></script>

</head>

<body>
  {{> nav}}
  {{#if logged_in}}


  <div class="wrapper-left">

    <nav id="sidebar-left">
    
      {{> filter }}
    </nav>
    <button type="button" id="sidebarCollapse-left" class="btn btn-info">
      <i class="fa fa-angle-left" id="pullBarIcon" aria-hidden="true"></i>
    </button>
    <div id="content">
      {{> map }}
    </div>

    <nav id="sidebar-right">
      {{> results}}
    </nav>
  </div>
  {{else}}
  <header class="display-flex justify-space-between align-center p-2">
    <title>Park Finders Login</title>
  </header>
  {{{ body }}}


  <footer></footer>
  {{/if}}

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="./js/nav.js"></script>
  <script src="./js/search_script.js"></script>
  <script src="./js/maps.js"></script>

</body>

</html>