<!DOCTYPE html>
<html lang="en">

<div class="row align-center-mb-5">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <H2>You are logged in</H2>

    {{> results}}

</html>
