<!DOCTYPE html>
<html lang="en">
  

<div class="container login-container">
  <h2>Login</h2>
  <div class="row">
    <div class="col-md-12">
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="login-btn">Login</button>
        </div>
      </form>
    </div>
  </div>
  <hr>

  <h2>Sign Up</h2>

  <div class="row">
    <div class="col-md-12">
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Name</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-login">Email</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-login">Password</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id="signup-btn">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="/js/login.js"></script>

</html>